#search-emp-cont {
	position: absolute;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	padding-inline: 1rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h1 {
	color: var(--text-1);
	font-size: 1.3rem;
	font-family: verdana;
}

#form-cont {
	--border-size: 2px;
	position: relative;
	top: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 1;

	.local-nav {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		gap: 0.2rem;

		.local-nav-btn {
			position: relative;
			padding: 0.4rem;
			top: 0;
			left: 0;
			height: fit-content;
			background-color: var(--background-color);
			border: var(--border-size) solid transparent;
			border-bottom: none;
			border-radius: 0.5rem 0.5rem 0 0;
			font-size: 0.9rem;
			font-family: verdana;
			color: var(--text-1);
			text-wrap: nowrap;
			cursor: pointer;
		}

		.local-nav-btn.active {
			transform: translateY(var(--border-size));
			border: var(--border-size) solid hsl(from rgb(255, 255, 255) h s var(--hue-l-2));
			border-bottom: none;
			cursor: default;
		}
	}

	.local-content-cont {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		flex-grow: 1;
		background-color: var(--background-color);
		border-top: var(--border-size) solid hsl(from rgb(255, 255, 255) h s var(--hue-l-2));
	}
}
