
nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--navbar-height);
	z-index: 10000;
	display: flex;
	flex-direction: row;

	div {
		position: relative;
		top: 0;
		left: 0;
		height: var(--navbar-height);
	}
}

#navbar-button-container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	gap: 1px;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) transparent;

	.nav-btn {
		position: relative;
		padding-inline: 0.8rem;
		top: 0;
		left: 0;
		height: 100%;
		display: grid;
		place-items: center;
		color: var(--text-1);
		font-family: verdana;
		font-size: 0.9rem;
		font-weight: 500;

		&::after {
			content: '';
			position: absolute;
			top: calc(100% - 0.1rem);
			left: 50%;
			width: 0;
			height: 0.1rem;
			background-color: hsl(from var(--action-button) h s calc(l * 1.1));
			transition: width 0.2s linear, left 0.2s linear;
		}

		&:not(.active) span {
			cursor: pointer;
		}

		&:has( span:hover):not(.active)::after {
			width: 100%;
			left: 0;
		}

		&.active {
			color: hsl(from var(--action-button) h s calc(l * 1.1));
		}
	}
}

#navbar-theme-input-container {
	padding: 0.4rem;
	aspect-ratio: 1 / 1;
	width: var(--navbar-height);
	margin-left: auto;
	align-self: flex-end;

	input {
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../../public/img/moon.png);
		background-size: 80% 80%;
		background-position: center center;
		cursor: pointer;
		filter: invert(100%);
		transition: transform 0.2s linear;
	}

	input:checked {
		background-image: url(../../public/img/summer.png);
		filter: invert(0);
	}

	input:hover {
		transform: rotate(90deg);
	}

	@media (prefers-color-scheme: light) {
		input {
			filter: invert(0);
		}

		input:checked {
			filter: invert(100%);
		}
	}
}
