<div class="local-content full full-y">
	<div id="all-employees-local-cont">
		<div id="all-employees-controls-cont">
			<button class="action left" (click)="loadAllEmployees()">Refresh</button>
			<input type="text" autocomplete="nope" spellcheck="false" placeholder="Filter employees by name, phone, email or role" (keyup)="onFilterFieldKeyup($event)">
		</div>
		<div id="all-employees-table-cont" class="">
			<div class="table-cont" (click)="onAllEmployeesTableClick($event)">
				<table>
					<tbody>
						<tr>
							<th (click)="sortById()" class="pointer" title="sort by id">ID</th>
							<th (click)="sortByName()" class="pointer" title="sort by name">Name</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Address</th>
							<th (click)="sortBySalary()" class="pointer" title="sort by salary">Salary (Rs)</th>
							<th (click)="sortByRole()" class="pointer" title="sort by role">Role</th>
							<th (click)="sortByDOB()" class="pointer" title="sort by birthday">Birthday</th>
						</tr>
						@for (employee of viewableEmployees; track $index) {
							<tr>
								<td class="center">{{ employee.id }}</td>
								<td [title]="employee.name">{{ employee.name }}</td>
								<td [title]="employee.phone">{{ employee.phone }}</td>
								<td [title]="employee.email">{{ employee.email }}</td>
								<td [title]="employee.address">{{ employee.address }}</td>
								<td class="right">{{ employee.salary }}</td>
								<td>{{ getFormatterRole(employee.role) }}</td>
								<td>{{ employee.dob }}</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div id="employee-details-backdrop"></div>
		<div id="employee-details-cont">
			<div id="employee-details-toggle-btn">
				<input type="checkbox" #detailsToggleBtn>
			</div>
			<div id="employee-details" class="scrollbar scrollbar-y">
				<div class="detail">
					<div class="label">ID</div>
					<div class="value">{{ selectedEmployee?.id }}</div>
				</div>
				<div class="detail">
					<div class="label">Name</div>
					<div class="value">{{ selectedEmployee?.name }}</div>
				</div>
				<div class="detail">
					<div class="label">Phone</div>
					<div class="value">{{ selectedEmployee?.phone }}</div>
				</div>
				<div class="detail">
					<div class="label">Email</div>
					<div class="value">{{ selectedEmployee?.email }}</div>
				</div>
				<div class="detail">
					<div class="label">Address</div>
					<div class="value">{{ selectedEmployee?.address }}</div>
				</div>
				<div class="detail">
					<div class="label">Salary</div>
					<div class="value">{{ selectedEmployee?.salary }}</div>
				</div>
				<div class="detail">
					<div class="label">Role</div>
					<div class="value">{{ selectedEmployee?.role }}</div>
				</div>
				<div class="detail">
					<div class="label">Birthday</div>
					<div class="value">{{ selectedEmployee?.dob }}</div>
				</div>
				<div class="form">
					<button class="action" (click)="terminateSelectedEmployee()">Terminate</button>
				</div>
			</div>
		</div>
	</div>
</div>
