<div id="signup-holder">
	<div id="signup-container">
		<div class="header">Epic Eats</div>
		<div class="header">Signup</div>
		<div id="signup-navigation-control">
			<div class="singup-navigate-step-btn">Back</div>
		</div>

		<div class="section-container">
			<div class="signup-step first-note hide">
				<h1>Signup Access Notice</h1>
				<ul>
					<li>New accounts require admin approval.</li>
					<li>You'll need an admin to log in first.</li>
					<li>After that, we'll verify your employee record.</li>
					<li>Then you can fill in your details to create your account.</li>
				</ul>
				<br>
				<p>Click <b>Proceed</b> to continue the signup process.</p>
				<div class="form">
					<button class="action" tabindex="1">Proceed</button>
				</div>
			</div>

			<div class="signup-step hide">
				<h1>Admin login</h1>
				<br>
				<p>Add admin username and password below and click login to continue.</p>
				<div class="form">
					<div class="input">
						<input type="text" spellcheck="false" autocomplete="off" placeholder="" [(ngModel)]="adminUsername" #adminUsernameInput (keydown)="onAdminLoginKeydown($event)">
						<div class="label">Admin Username</div>
					</div>
					<div class="input">
						<input type="password" placeholder="" [(ngModel)]="adminPassword" #adminPasswordInput (keydown)="onAdminLoginKeydown($event)">
						<div class="label">Admin Password</div>
					</div>
					<button class="action" tabindex="0" (click)="adminLogin()">Login</button>
				</div>
			</div>

			<div class="signup-step">
				<h1>Employee select</h1>
				<br>
				<p>Select employee that needs to create user account by typing employee id in below text field and click search.</p>
				<div class="form">
					<div class="input">
						<input type="number" placeholder="" min="1" [(ngModel)]="employeeId" #employeeIdInput (keydown)="onEmployeeSelectKeydown($event)">
						<div class="label">Employee ID</div>
					</div>
					<button class="action" tabindex="0" (click)="employeeSearch()">Search</button>
					<hr>
				</div>
				<div id="employee-details" *ngIf="loadedEmployee">
					<div class="label"><span>Username</span><span>{{ loadedEmployee.name }}</span></div>
					<div class="label"><span>Address</span><span>{{ loadedEmployee.address }}</span></div>
					<div class="label"><span>Phone</span><span>{{ loadedEmployee.phone }}</span></div>
					<div class="label"><span>Email</span><span>{{ loadedEmployee.email }}</span></div>

					<div class="form">
						<button class="action" tabindex="0" (click)="employeeSearch()">Confirm</button>
					</div>
				</div>
				<br>
				<p>If you are not able to enter employee id here somehow, first login as admin and there in employee section you can search employee by more specific details.</p>
				<br>
			</div>
		</div>
	</div>
</div>
<app-alert *ngIf="errorMessage" type="error" [message]="errorMessage" />
