#signup-holder {
	position: relative;
	padding: 1rem;
	padding-top: var(--navbar-height);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#signup-container {
	position: relative;
	padding: 1rem;
	top: 50%;
	left: 50%;
	width: clamp(200px, 100%, 500px);
	height: clamp(300px, 100%, 600px);
	transform: translate(-50%, -50%);
	background-color: hsla(from var(--background-color) h s calc(l + 5) / 1);
	border-radius: 1rem;
	border: 1px solid hsl(from var(--background-color) h s calc(l + 10));
	filter: drop-shadow(0 0 5px #00000077);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	.section-container {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		flex-grow: 1;
	}

	.signup-step {
		position: absolute;
		padding-top: 2rem;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--scrollbar-color) transparent;
	}

	.signup-step.hide {
		transform: translateX(100%);
		pointer-events: none;
		opacity: 0;
	}

	.first-note {
		h1 {
			font-size: 1.3rem;
			color: var(--header-1);
			font-family: verdana;
		}

		ul {
			margin-top: 1.5rem;
			padding-left: 1.5rem;
			font-size: 1rem;
			color: var(--text-1);
			font-family: verdana;

			li {
				margin-block: 0.8rem;
				color: hsl(from var(--text-1) h s calc(l * 0.8));
			}
		}

		p {
			font-size: 0.7rem;
			color: var(--text-1);
			font-family: verdana;
		}
	}

	.header {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: fit-content;
		font-family: Ketchup;
		font-size: 2.2rem;
		color: var(--header-1);
	}

	.header:nth-child(2) {
		color: var(--action-button);
	}

	.form {
		position: relative;
		padding-block: 1rem;
		padding-inline: 1rem;
		top: 0;
		left: 0;
		width: 100%;
		height: fit-content;

		.input {
			position: relative;
			margin-block: 1rem;
			padding-top: 1rem;
			top: 0;
			left: 0;
			width: 100%;
			height: fit-content;
			border-bottom: 2px solid var(--action-button);
		}

		.label {
			position: absolute;
			padding-left: 0.5rem;
			padding-top: 1rem;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 1.2rem;
			font-family: verdana;
			color: hsl(from var(--action-button) h s calc(l * 1.1));
			transition: all 0.2s linear;
		}

		.input:has( input:focus), .input:has(input:not(:placeholder-shown)) {
			.label {
				font-size: 0.8rem;
				height: 0.9rem;
			}
		}

		.input input {
			position: relative;
			padding: 0.5rem;
			top: 0;
			left: 0;
			width: 100%;
			font-size: 1.2rem;
			font-family: verdana;
			color: var(--text-1);
			outline: none;
			border: none;
			background-color: transparent;
		}

		.input:has( input:user-invalid) {
			border-bottom: 2px solid #ff0000;
		}

		.action {
			position: relative;
			margin-block: 1rem;
			padding: 0.4rem;
			padding-inline: 1rem;
			top: 0;
			left: calc(100% - 1rem);
			transform: translateX(-100%);
			background-color: var(--action-button);
			outline: none;
			border: 2px solid hsl(from var(--action-button) h s calc(l * 1.1));
			border-radius: 0.3rem;
			cursor: pointer;
			font-size: 1.1rem;
			font-family: verdana;
			color: var(--text-1);
			transition: background-color 0.2s linear;
		}

		.action:hover {
			background-color: hsla(from var(--action-button) h s calc(l * 1.1) / 0.2);
		}

		hr {
			border: 0;
			height: 0.5rem;
			background-image: linear-gradient(90deg, transparent, hsl(from var(--background-color) h s calc(l * 2)), transparent);
		}

		.title, .notice {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			padding-inline: 1rem;
			font-size: 1.1rem;
			color: var(--header-1);
		}

		.notice {
			margin-top: 1.2rem;
			padding-inline: 2rem;
			text-indent: 1rem;
			font-size: 0.9rem;
		}
	}
}
