h1 {
	color: var(--text-1);
	font-size: 1.3rem;
	font-family: verdana;
}

#form-cont {
	position: relative;
	top: 0;
	left: 50%;
	width: clamp(200px, 100%, 500px);
	height: fit-content;
	transform: translateX(-50%);
}

#searched-employee-list-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
}

#searched-employee-list-cont .searched-employee-viewer {
	position: absolute;
	padding: 0.5rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.back-btn {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 2rem;
	height: 2rem;
	background-image: url('../../../../../public/img/arrowhead-up.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	filter: invert(var(--invert-1));
	cursor: pointer;
	transform: rotate(-90deg);
}

#searched-employee-list-cont .searched-employee-viewer h1 {
	padding-top: 2.5rem;
	padding-left: 0.5rem;
}

.table-cont {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	flex-grow: 1;
}

.table-cont .pointer {
	cursor: pointer;
}

#selected-employee-view-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
}

#selected-employee-view {
	position: absolute;
	padding: 0.5rem;
	padding-block: 3rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#selected-employee-view h1 {
	color: var(--text-1);
	font-size: 1.3rem;
	font-family: verdana;
	padding-left: 0.5rem;
}

#selected-employee-view p {
	margin: 0.3rem 0;
	padding: 0 0.5rem;
	font-family: verdana;
	color: var(--text-1);
	font-size: 0.95rem;
}

#selected-employee-view p strong {
	color: var(--text-1);
}

#employee-shifts-view {
	height: fit-content;
}

#employee-shifts-view table td {
	text-align: center;
}
