@font-face {
	font-family: Ketchup;
	src: url(../public/font/Ketchup\ Manis\ Demo.ttf);
}

@font-face {
	font-family: verdana;
	src: url(../public/font/verdana.ttf);
}

:root {
	--font-size: 16px;
	--navbar-height: 2rem;
}

:root { /* dark */
	--background-color: #161825;
	--header-1: #ffffff;
	--text-1: #ffffff;
	--text-2: #000000;
	--scrollbar-color: #ffffff;
	--action-button: #ff7733;
	--hue-l-1: 10;
}

:root:has( .main-nav input[type="checkbox"]:checked) { /* light */
	--background-color: #cdd3ff;
	--header-1: #000000;
	--text-1: #000000;
	--text-2: #ffffff;
	--scrollbar-color: #000000;
	--action-button: #ff7733;
	--hue-l-1: 90;
}

* {
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100svh;
	font-size: var(--font-size);
}

body {
	background-color: var(--background-color);
}
