<nav class="main-nav">
	<div *ngIf = "showNavbar" id="navbar-button-container">
		<div class="nav-btn" [class.active]="currentRoute === 'home'" #homeNavBtn><span (click)="navBarNavigateTo('home')">Home</span></div>
		<div class="nav-btn" *ngIf="isAdmin" [class.active]="currentRoute === 'employee'" #employeeNavBtn><span (click)="navBarNavigateTo('employee')">Employee</span></div>
		<div class="nav-btn" [class.active]="currentRoute === 'order'" #orderNavBtn><span (click)="navBarNavigateTo('order')">Order</span></div>
		<div class="nav-btn" [class.active]="currentRoute === 'inventory'" #inventoryNavBtn><span (click)="navBarNavigateTo('inventory')">Inventory</span></div>
		<div class="nav-btn" [class.active]="currentRoute === 'finance'" #financeNavBtn><span (click)="navBarNavigateTo('finance')">Finance</span></div>
		<div class="nav-btn" [class.active]="currentRoute === 'merchandise'" #merchandiseNavBtn><span (click)="navBarNavigateTo('merchandise')">Merchandise</span></div>
		<div class="nav-btn" [class.active]="currentRoute === 'restaurant'" #restaurantNavBtn><span (click)="navBarNavigateTo('restaurant')">Restaurant</span></div>
		<div class="nav-btn" [class.active]="currentRoute === 'settings'" #settingsNavBtn><span (click)="navBarNavigateTo('settings')">Settings</span></div>
	</div>
	<div id="navbar-theme-input-container">
		<input type="checkbox" id="theme-toggle" title="theme">
	</div>
</nav>

<router-outlet />
