#signup-holder {
	position: relative;
	padding: 1rem;
	padding-top: var(--navbar-height);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#signup-navigation-control {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	height: 2rem;
	display: flex;
	justify-content: center;

	.singup-navigate-step-btn {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0.4rem;
		padding-inline: 1rem;
		background-color: var(--action-button);
		outline: none;
		border: 2px solid hsl(from var(--action-button) h s calc(l * 1.1));
		border-radius: 0.3rem;
		cursor: pointer;
		font-size: 0.8rem;
		font-family: verdana;
		color: var(--text-1);
		transition: background-color 0.2s linear;
	}

	.singup-navigate-step-btn:hover {
		background-color: hsla(from var(--action-button) h s calc(l * 1.1) / 0.2);
	}
}

#signup-container {
	position: relative;
	padding: 1rem;
	padding-bottom: 3rem;
	top: 50%;
	left: 50%;
	width: clamp(200px, 100%, 500px);
	height: clamp(300px, 100%, 600px);
	transform: translate(-50%, -50%);
	background-color: hsla(from var(--background-color) h s calc(l + 5) / 1);
	border-radius: 1rem;
	border: 1px solid hsl(from var(--background-color) h s calc(l + 10));
	filter: drop-shadow(0 0 5px #00000077);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	.section-container {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		flex-grow: 1;
	}

	.signup-step {
		position: absolute;
		padding-top: 2rem;
		padding-inline: 0.5rem;
		padding-bottom: 3rem;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--scrollbar-color) transparent;

		h1 {
			font-size: 1.3rem;
			color: var(--header-1);
			font-family: verdana;
		}

		p {
			font-size: 0.9rem;
			color: var(--text-1);
			font-family: verdana;
			text-indent: 1rem;
		}
	}

	.signup-step.hide {
		transform: translateX(100%);
		pointer-events: none;
		opacity: 0;
	}

	.first-note {
		ul {
			margin-top: 1.5rem;
			padding-left: 1.5rem;
			font-size: 1rem;
			color: var(--text-1);
			font-family: verdana;

			li {
				margin-block: 0.8rem;
				color: hsl(from var(--text-1) h s calc(l * 0.8));
			}
		}
	}

	.header {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: fit-content;
		font-family: Ketchup;
		font-size: 2.2rem;
		color: var(--header-1);
	}

	.header:nth-child(2) {
		color: var(--action-button);
	}
}

#employee-details {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	font-family: verdana;

	.label {
		margin-block: 1rem;

		span {
			display: block;
			color: var(--text-1);
			font-size: 1rem;
		}
	
		span:first-child {
			color: var(--action-button);
			font-size: 0.8rem;
		}
	}
}
