<h1>Add Employee</h1>
<div id="form-cont">
	<div class="form">
		<div class="input">
			<input type="text" autocomplete="nope" spellcheck="false" placeholder="">
			<div class="label">Name</div>
		</div>
		<div class="input">
			<input type="text" autocomplete="off" spellcheck="false" placeholder="">
			<div class="label">Phone</div>
		</div>
		<div class="input">
			<input type="email" placeholder="">
			<div class="label">Email</div>
		</div>
		<div class="input">
			<input type="text" autocomplete="off" spellcheck="false" placeholder="">
			<div class="label">Adderss</div>
		</div>
		<div class="input">
			<input type="number" min="0.0" placeholder="">
			<div class="label">Salary</div>
		</div>
		<div class="select-input">
			<select>
				<option value="CASHIER">Cashier</option>
				<option value="MANAGER">Manager</option>
				<option value="CHEF">Chef</option>
				<option value="WAITER">Waiter</option>
				<option value="SUPERVISOR">Supervisor</option>
			</select>
		</div>
		<div class="input">
			<input type="date" placeholder="">
			<div class="label">Birthday</div>
		</div>
		<button class="action">Add</button>
	</div>
</div>
